<div class="row">
    <div class="m-3 col">

        <div class=" mx-auto mt-5 tableMatias">
            <div class="row animated fadeIn">
                <div class="col">
                    <h3>Facturas</h3>
                    <div class="card">
                        <div class="">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Monto total</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                    </tr>
                                </thead>
                                <tbody class="pointer" *ngFor="let factura of facturas">
                                    <tr (click)="verFacturaModal(factura)">

                                        <td class=" pt-4 ">{{factura.monto}} Gs </td>
                                        <td class=" pt-4 ">{{factura.fecha | fecha: 'fecha'}}</td>
                                        <td class=" pt-4 "> {{factura.fecha | fecha :'hora'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <button (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary">Anteriores</button>
                        <button (click)="cambiarDesde(5)" type="button" class="btn btn-secondary">Siguientes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col m-3">
        <div class=" mx-auto mt-5 tableMatias">
            <div class="row animated fadeIn">
                <div class="col">
                    <h3>Egresos</h3>
                    <div class="card">

                        <div class="">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Motivo</th>
                                        <th>Monto</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                    </tr>
                                </thead>
                                <tbody class="pointer" *ngFor="let egreso of egresos">
                                    <tr (click)="verFacturaModal(factura)">
                                        <td class=" pt-4 ">{{egreso.motivo}}</td>
                                        <td class=" pt-4 ">{{egreso.monto}} Gs </td>
                                        <td class=" pt-4 ">{{egreso.fecha | fecha: 'fecha'}}</td>
                                        <td class=" pt-4 ">{{egreso.fecha | fecha :'hora'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <button (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary">Anteriores</button>
                        <button (click)="cambiarDesde(5)" type="button" class="btn btn-secondary">Siguientes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>