<div class="flex-row">
    <div class="d-flex justify-content-center">

        <div class="card">
            <div class="card-body">
                <label class=" lead" for="">Formato: HH:MM DD/MM/AAAA</label>
                <br>
                <div class="row">

                    <h4 class="mt-1">De:</h4>
                    <input [(ngModel)]="horaDesde" style="width: 3rem;" class="m-1" type="number">
                    <input [(ngModel)]="minutoDesde" style="width: 3rem;" class="m-1" type="number">
                    <h6 class="mt-2 mr-3" for="">hs. </h6>
                    <input [(ngModel)]="diaDesde" style="width: 3rem;" class=" m-1" type="number">
                    <input [(ngModel)]="mesDesde" style="width: 3rem;" class="m-1" type="number">
                    <input [(ngModel)]="yearDesde" style="width: 5rem;" class="m-1" type="number">
                    <h4 class="ml-4 mt-1">A: </h4>
                    <input [(ngModel)]="horaHasta" style="width: 3rem;" class="m-1" type="number">
                    <input [(ngModel)]="minutoHasta" style="width: 3rem;" class="m-1" type="number">
                    <h6 class="mt-2 mr-3" for="">hs. </h6>
                    <input [(ngModel)]="diaHasta" style="width: 3rem;" class="m-1" type="number">
                    <input [(ngModel)]="mesHasta" style="width: 3rem;" class="m-1" type="number">
                    <input [(ngModel)]="yearHasta" style="width: 5rem;" class="m-1" type="number">
                    <button type="button" (click)="filtrar()" class="btn btn-primary">Filtrar</button>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div class=" col">

        <div class="  mt-1 tableMatias">
            <div class=" tablaFacturas row animated fadeIn">
                <div class="col">
                    <h3>Facturas</h3>
                    <div class="card">

                        <div class=" scroll">
                            <table class=" table table-hover">
                                <thead>
                                    <tr>
                                        <th>Monto total</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                    </tr>
                                </thead>
                                <tbody class=" pointer" *ngFor="let factura of facturas">
                                    <tr (click)="verFacturaModal(factura)">

                                        <td class=" pt-4 ">{{factura.monto}} Gs </td>
                                        <td class=" pt-4 ">{{factura.fecha | fecha: 'fecha'}}</td>
                                        <td class=" pt-4 "> {{factura.fecha | fecha :'hora'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <!-- <button (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary">Anteriores</button> -->
                        </div>
                    </div>
                    <div *ngIf="_loginService.logued" class="mt-1 row">
                        <label class="ml-4" for="text"><b>total:</b> {{totalF}} Gs </label>
                        <label class="ml-4" for="text"><b>Precio Bruto:</b> {{totalBrutoF}} Gs</label>
                        <label class="ml-4" for="text"><b>Ganancia posible</b> {{[posibleGanancias]}}  Gs</label>

                        <label class="ml-4" for="text"><b>Productos: </b> {{cantidadF}} unidades</label>
                        <br>
                        <label class="ml-4" for="text"><b>total Ingresos menos Egresos:</b> {{totalIngresoMenosEgreso}} Gs </label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col ">
        <div class="   mt-1 tableMatias">
            <div class="row animated fadeIn">
                <div class="col">
                    <h3>Egresos</h3>
                    <div class="card">

                        <div class="">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Motivo</th>
                                        <th>Monto</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="pointer" *ngFor="let egreso of egresos">
                                    <tr>
                                        <td class=" pt-4 ">{{egreso.motivo}}</td>
                                        <td class=" pt-4 ">{{egreso.monto}} Gs </td>
                                        <td class=" pt-4 ">{{egreso.fecha | fecha: 'fecha'}}</td>
                                        <td class=" pt-4 ">{{egreso.fecha | fecha :'hora'}}</td>
                                        <td class=" pt-4 ">
                                            <i (click)="eliminarEgreso(egreso)" style="color: red;" class="fa fa-trash" aria-hidden="true"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <button (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary">Anteriores</button>
                        <button (click)="cambiarDesde(5)" type="button" class="btn btn-secondary">Siguientes</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>