.w70 {
    width: 70px !important;
}

.tableMatias {
    padding-left: 20px;
    justify-content: center;
}

.form-control {
    width: 400px;
}

.w200 {
    width: 100px;
}

.borde {
    border: solid silver 1px;
}

.items {
    overflow: auto;
    height: 500px;
}

.montos {
    margin-bottom: 18px;
}