.w70 {
    width: 70px !important;
}

.tableMatias {
    //padding-left: 20px;
    justify-content: center;
    // height: 700px !important;
}

.form-control {
    width: 400px;
}

.w200 {
    width: 100px;
}

.borde {
    border: solid silver 1px;
}

.items {
    overflow: auto;
    height: 505px;
}

.itemsProductos {
    overflow: auto;
    height: 700px;
}

.montos {
    margin-bottom: 18px;
}

.carrito {
    padding: 0;
    margin: 0;
}

.productos {
    padding: 0;
    margin: 0;
}