<div class="mt-2 row">
    <div *ngIf="!ocultar" class="col-2">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" href="javascript:void" (click)="seccion = 'faltantes'">Faltantes</a>
            <a class="list-group-item list-group-item-action" href="javascript:void" (click)="seccion = 'masVendidos'">Mas vendidos</a>
            <a class="list-group-item list-group-item-action" href="javascript:void" (click)="seccion = 'sinPagar'">Facturas sin pagar</a>
            <a class="list-group-item list-group-item-action" href="javascript:void" (click)="seccion = 'productosVendidos'">Productos Vendidos</a>
            <a class="list-group-item list-group-item-action" href="javascript:void" (click)="seccion = 'ventasSemanales'">Ventas Semanales</a>
            <a class="list-group-item list-group-item-action" href="javascript:void" (click)="seccion = 'ventasDiarias'">Ventas Diarias</a>
            <a class="list-group-item list-group-item-action" href="javascript:void" (click)="seccion = 'reabastecimientos'">Reabastecimientos</a>
            <a class="list-group-item list-group-item-action" href="javascript:void" (click)="seccion = 'proveedores'">Proveedores</a>
        </div>
        <button type="button" (click)="imprimir()" class=" mt-3 btn btn-primary">Imprimir</button>
    </div>
    <div *ngIf="seccion == 'faltantes'" class="col">
        <div class="col-12 pr-3 productos">
            <h3>Faltantes</h3>

            <div class="card">
                <div class="card-body itemsProductos ">
                    <table class="table tableMatias table-hover">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Marca</th>
                                <th style="width: 25%">Tipo</th>
                                <th>Cod</th>
                                <th>Descuento</th>
                                <th>Precio</th>
                                <th>En stock</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let producto of faltantes">
                            <tr>
                                <td class="w70">
                                    <img [src]="producto.img | imagen" (click)="_editarProductoModalService.mostarModal(producto)" class="img-50 img-circle pointer">
                                </td>
                                <td class="col-auto justify-content-center  p-auto pt-4 ">{{producto.marca}}
                                </td>
                                <td style="width: 25%" class=" pt-4 col-md-2 ">{{producto.modelo}}</td>
                                <td style="max-width: 130px;" class=" pt-4 ">{{producto.codigo}}</td>
                                <td class="  ">{{producto.descuento}}</td>
                                <td class="  ">{{producto.precio}}</td>
                                <td class="  "> {{producto.stock}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="seccion == 'masVendidos'" class="col">
        <div class="col-12   pr-3 productos">
            <h3>Mas vendidos</h3>
            <div class="card">
                <div class="card-body itemsProductos ">
                    <table class="table tableMatias table-hover">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Marca</th>
                                <th style="width: 25%">Tipo</th>
                                <th>Cod</th>
                                <th>Descuento</th>
                                <th>Precio</th>
                                <th>En stock</th>
                                <th>Vendidos</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let producto of masVendidos">
                            <tr>
                                <td class="w70">
                                    <img [src]="producto.img | imagen" (click)="_editarProductoModalService.mostarModal(producto)" class="img-50 img-circle pointer">
                                </td>
                                <td class="col-auto justify-content-center  p-auto  ">{{producto.marca}}
                                </td>
                                <td style="width: 25%" class="  col-md-2 ">{{producto.modelo}}</td>
                                <td style="max-width: 130px;" class="  ">{{producto.codigo}}</td>
                                <td class="  ">{{producto.descuento}}</td>
                                <td class="  ">{{producto.precio}}</td>
                                <td class="  "> {{producto.stock}}</td>
                                <td class="  "> {{producto.cantidad}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="seccion == 'ventasSemanales'" class="col">
        <div *ngIf="!ocultar">
            <div class="card-header">
                <span>Regresa 28 dias de la fecha establecida y divide las ventas en 4 semanas</span>
                <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="card-body">
                <div class="row">
                    <input [(ngModel)]="diaVentaSemanal" style="width: 3rem;" class="m-1" type="number">
                    <input [(ngModel)]="mesVentaSemanal" style="width: 3rem;" class="m-1" type="number">
                    <input [(ngModel)]="yearVentaSemanal" style="width: 5rem;" class="m-1" type="number">
                    <button type="button" (click)="filtrarVentaSemanal()" class="btn btn-primary">Filtrar</button>
                </div>
            </div>
        </div>

        <div class="col-12   pr-3 productos">
            <h3>Productos Vendidos</h3>
            <div class="card">
                <div class=" itemsProductos ">
                    <table class="table tableMatias table-bordered">
                        <thead>
                            <tr>
                                <!-- <th>Imagen</th> -->
                                <th>Marca</th>
                                <th style="width: 25%">Tipo</th>
                                <th>Stock</th>
                                <th>{{fechasSemanales[0]}}</th>
                                <th>{{fechasSemanales[1]}}</th>
                                <th>{{fechasSemanales[2]}}</th>
                                <th>{{fechasSemanales[3]}}</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let producto of ventasSemanales">
                            <tr>
                                <!-- <td class="w70">
                                    <img [src]="producto.img | imagen" (click)="_editarProductoModalService.mostarModal(producto)" class="img-50 img-circle pointer">
                                </td> -->
                                <td class="col-auto justify-content-center  p-auto  ">{{producto.marca}}
                                </td>
                                <td style="width: 25%" class="  col-md-2 ">{{producto.modelo}}</td>
                                <td class="  ">{{producto.stock}}</td>
                                <td class="  ">{{producto.cantidad[0]}}</td>
                                <td class="  ">{{producto.cantidad[1]}}</td>
                                <td class="  ">{{producto.cantidad[2]}}</td>
                                <td class="  ">{{producto.cantidad[3]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="seccion == 'ventasDiarias' && diariasBoolean" class="col">
        <div *ngIf="!ocultar" class="card-body">
            <div class="row">
                <input [(ngModel)]="diaVentaDiaria" style="width: 3rem;" class="m-1" type="number">
                <input [(ngModel)]="mesVentaDiaria" style="width: 3rem;" class="m-1" type="number">
                <input [(ngModel)]="yearVentaDiaria" style="width: 5rem;" class="m-1" type="number">
                <button type="button" (click)="filtrarVentaDiaria()" class="btn btn-primary">Filtrar</button>
            </div>
        </div>
        <div class="col-12   pr-3 productos">
            <h3>Productos Vendidos</h3>
            <div class="card">
                <div class=" itemsProductos ">
                    <table class="table tableMatias table-bordered">
                        <thead>
                            <tr>
                                <!-- <th>Imagen</th> -->
                                <th>Marca</th>
                                <th style="width: 25%">Tipo</th>
                                <th>Stock</th>
                                <th>{{fechasDiarias[0]}}</th>
                                <th>{{fechasDiarias[1]}}</th>
                                <th>{{fechasDiarias[2]}}</th>
                                <th>{{fechasDiarias[3]}}</th>
                                <th>{{fechasDiarias[4]}}</th>
                                <th>{{fechasDiarias[5]}}</th>
                                <th>{{fechasDiarias[6]}}</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let producto of ventasDiarias">
                            <tr>
                                <!-- <td class="w70">
                                    <img [src]="producto.img | imagen" (click)="_editarProductoModalService.mostarModal(producto)" class="img-50 img-circle pointer">
                                </td> -->
                                <td class="col-auto justify-content-center  p-auto ">{{producto.marca}}
                                </td>
                                <td style="width: 25%" class="  col-md-2 ">{{producto.modelo}}</td>
                                <td class=" ">{{producto.stock}}</td>
                                <td class=" ">{{producto.cantidad[0]}}</td>
                                <td class=" ">{{producto.cantidad[1]}}</td>
                                <td class=" ">{{producto.cantidad[2]}}</td>
                                <td class=" ">{{producto.cantidad[3]}}</td>
                                <td class=" ">{{producto.cantidad[4]}}</td>
                                <td class=" ">{{producto.cantidad[5]}}</td>
                                <td class=" ">{{producto.cantidad[6]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="seccion == 'productosVendidos'" class="col">
        <div class="card-body">
            <div class="row">
                <h4>De:</h4>
                <input [(ngModel)]="diaDesde" style="width: 3rem;" class="m-1" type="number">
                <input [(ngModel)]="mesDesde" style="width: 3rem;" class="m-1" type="number">
                <input [(ngModel)]="yearDesde" style="width: 5rem;" class="m-1" type="number">
                <h4 class="ml-4">A: </h4>
                <input [(ngModel)]="diaHasta" style="width: 3rem;" class="m-1" type="number">
                <input [(ngModel)]="mesHasta" style="width: 3rem;" class="m-1" type="number">
                <input [(ngModel)]="yearHasta" style="width: 5rem;" class="m-1" type="number">
                <button type="button" (click)="filtrar()" class="btn btn-primary">Filtrar</button>
            </div>
        </div>
        <div class="col-12   pr-3 productos">
            <h3>Productos Vendidos</h3>
            <div class="card">
                <div class=" itemsProductos ">
                    <table class="table tableMatias table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Marca</th>
                                <th style="width: 25%">Tipo</th>
                                <th>Cod</th>
                                <th>Descuento</th>
                                <th>Precio</th>
                                <th>En stock</th>
                                <th>Vendidos</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let producto of productosVendidos">
                            <tr>
                                <td class="w70">
                                    <img [src]="producto.img | imagen" (click)="_editarProductoModalService.mostarModal(producto)" class="img-50 img-circle pointer">
                                </td>
                                <td class="col-auto justify-content-center  p-auto pt-4 ">{{producto.marca}}
                                </td>
                                <td style="width: 25%" class=" pt-4 col-md-2 ">{{producto.modelo}}</td>
                                <td style="max-width: 130px;" class=" pt-4 ">{{producto.codigo}}</td>
                                <td class=" pt-4 ">{{producto.descuento}}</td>
                                <td class=" pt-4 ">{{producto.precio}}</td>
                                <td class=" pt-4 "> {{producto.stock}}</td>
                                <td class=" pt-4 "> {{producto.cantidad}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="seccion == 'sinPagar'" class="col">
        <div class="col-12   pr-3 tablaFacturas">
            <h3>Sin pagar</h3>
            <div class="card">

                <div class=" scroll">
                    <table class=" table table-hover">
                        <thead>
                            <tr>
                                <th>Monto total</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                            </tr>
                        </thead>
                        <tbody class=" pointer" *ngFor="let factura of fSinPagar">
                            <tr (click)="verFacturaModal(factura)">

                                <td class=" pt-4 ">{{factura.monto}} Gs </td>
                                <td class=" pt-4 ">{{factura.fecha | fecha: 'fecha'}}</td>
                                <td class=" pt-4 "> {{factura.fecha | fecha :'hora'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <!-- <button (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary">Anteriores</button> -->
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="seccion == 'reabastecimientos'" class="col">
        <div class="col-12   pr-3 tablaFacturas">
            <h3>Reabastecimientos</h3>
            <div class="card-body">
                <div class="row">
                    <h4>De:</h4>
                    <input [(ngModel)]="diaDesde" style="width: 3rem;" class="m-1" type="number">
                    <input [(ngModel)]="mesDesde" style="width: 3rem;" class="m-1" type="number">
                    <input [(ngModel)]="yearDesde" style="width: 5rem;" class="m-1" type="number">
                    <h4 class="ml-4">A: </h4>
                    <input [(ngModel)]="diaHasta" style="width: 3rem;" class="m-1" type="number">
                    <input [(ngModel)]="mesHasta" style="width: 3rem;" class="m-1" type="number">
                    <input [(ngModel)]="yearHasta" style="width: 5rem;" class="m-1" type="number">
                    <button type="button" (click)="filtrarRecargas()" class="btn btn-primary">Filtrar</button>
                </div>
                <div class="pt-4 scroll">
                    <table class=" table table-hover">
                        <thead>
                            <tr>

                                <th>Nro factura</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>monto</th>

                            </tr>
                        </thead>
                        <tbody class=" pointer" *ngFor="let recarga of recargas">
                            <tr (click)="mostrarDetallesDeRecarga(recarga)">
                                <td class=" pt-4 ">{{recarga.nfactura}} Gs </td>
                                <td class=" pt-4 "> {{recarga.fecha | fecha :'fecha'}}</td>
                                <td class=" pt-4 "> {{recarga.fecha | fecha :'hora'}}</td>
                                <td class=" pt-4 "> {{recarga.monto |currency: '':'':'2.0' }} gs</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <!-- <button (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary">Anteriores</button> -->
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="seccion == 'proveedores'" class="col">
        <div class="col-12   pr-3 tablaFacturas">
            <h3>Proveedores</h3>
            <div class="card-body">

                <div class="pt-4 scroll">
                    <table class=" table table-hover">
                        <thead>
                            <tr>
                                <th>Proveedor </th>
                                <th>Stock</th>
                                <th>Ganancia</th>
                                <th>Total</th>
                                <th>%</th>

                            </tr>
                        </thead>
                        <tbody class=" pointer" *ngFor="let item of itemProveedores">
                            <tr>
                                <td class=" pt-4 ">{{item.nombre}} </td>
                                <td class=" pt-4 ">{{item.stock |currency: '':'':'2.0'}}</td>
                                <td class=" pt-4 "> {{item.ganancia |currency: '':'':'2.0'}}</td>
                                <td class=" pt-4 "> {{item.total |currency: '':'':'2.0'}}</td>
                                <td class=" pt-4 "> {{item.percent}} %</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <!-- <button (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary">Anteriores</button> -->
                </div>
            </div>
        </div>
    </div>

</div>