<div class="fondo-negro  fadeIn" [ngClass]='_crearEgresoService.oculto'>


    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Registrar Egreso </h5>
                    <button type="button" class="close" (click)="_crearEgresoService.ocultarModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form ngNativeValidate id="myForm" (ngSubmit)="onSubmit()" class="modal-body cuerpo " align="center">

                    <div *ngIf="!confirmar">

                        <div class="form-group">
                            <label for="">Monto</label>
                            <input type="number" required #monto (keyup)='registrarMonto(monto.value)' class="form-control" aria-describedby="helpId" placeholder="">
                            <small id="helpId" class="form-text text-muted">Cantidad de dinero para extraer de la
                                caja</small>
                        </div>
                        <div class="form-group">
                            <label for="">Motivo</label>
                            <input type="text" required #motivo (keyup)='registrarMotivo(motivo.value)' class="form-control" aria-describedby="helpId" placeholder="">
                            <small id="helpId" class="form-text text-muted">Registrar el motivo de la extracción</small>
                        </div>
                    </div>

                    <div *ngIf="confirmar">
                        <h3 class="m-5">Extraer {{montoT}} Gs de la Caja?</h3>
                        <label class="m-3" for=""><b>Motivo:</b> {{motivoT}} </label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="_crearEgresoService.ocultarModal()">Cancelar</button>
                        <button type="submit" (click)="onSubmit()" class="btn btn-primary">Registrar</button>
                        <button *ngIf="confirmar" (click)="confirmarGuardar()" class="btn btn-succes">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>