<div class="container-fluid">
    <button *ngIf="!oculto" (click)="oculto = true" class="m-1 btn btn-primary">Nuevo Proveedor</button>
    <button *ngIf="!oculto" (click)="_reabastecerService.mostrarModal()" class="m-1 btn btn-primary">Reabastecer Producto</button>

    <div *ngIf="oculto" style="width: 450px;" class="m-4 card">

        <div class="card-header">
            <h5 class="card-title">Agregar Proveedor</h5>

        </div>

        <div class="card-body">
            <form (ngSubmit)='crearProveedor(nombre.value, tel.value, comentario.value)' action="">
                <div class="form-group">
                    <label for="">nombre</label>
                    <input #nombre type="text" class="mb-3 form-control" name="" id="" aria-describedby="helpId" placeholder="nombre">
                    <label for="">telefono</label>
                    <input #tel type="text" class="mb-3 form-control" name="" id="" aria-describedby="helpId" placeholder="telefono">
                    <label for="">comentario</label>
                    <input #comentario type="text" class="mb-3 form-control" name="" id="" aria-describedby="helpId" placeholder="comentario o descripcion sobre proveedor">
                    <div class="d-flex flex-row-reverse">
                        <button type="submit" class="m-1 btn btn-outline-success">Agregar</button>
                        <button type="reset" (click)="oculto = false" class="m-1 btn btn-outline-secondary">Cancelar</button>
                    </div>


                </div>
            </form>

        </div>


    </div>
    <div class="row">
        <div class="col-4">
            <div class="card">

                <div class="card-body">
                    <h1 class="lead">Proveedores</h1>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>nombre</th>
                                <th>telefono</th>
                                <th>comentario</th>
                                <th>eliminar</th>
                                <th>editar</th>
                            </tr>
                        </thead>
                        <tbody class="table" *ngFor="let item of proveedores">
                            <tr (click)="selectProveedor(item)" class="list-item list-group-item-action pointer" href="javascript:void">
                                <td>{{item.nombre}}</td>
                                <td>{{item.telefono}}</td>
                                <td>{{item.comentario}}</td>
                                <td (click)="eliminarProveedor(item._id)">
                                    <i style="color: red;" class="fa fa-trash" aria-hidden="true"></i>

                                </td>
                                <td (click)="editarProveedor(item)">
                                    <i class="fas fa-pencil-alt" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col">
            <div *ngIf="productos">
                <div class=" card">
                    <div class=" itemsProductos ">
                        <table class="table  tableMatias table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Imagen</th>
                                    <th>Marca</th>
                                    <th style="width: 25%">Tipo</th>
                                    <th>Cod</th>
                                    <th>Precio</th>
                                    <th>Costo</th>
                                    <th>En stock</th>
                                    <th>Stock Minimo</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let producto of productos ">
                                <tr [ngClass]="getColor(producto.stock, producto.stockMinimo)">
                                    <td class="w70">
                                        <img [src]="producto.img | imagen" (click)="_editarProductoModalService.mostarModal(producto)" class="img-50 img-circle pointer">
                                    </td>
                                    <td class="col-auto justify-content-center  p-auto pt-4 ">{{producto.marca}}
                                    </td>
                                    <td style="width: 25%" class=" pt-4 col-md-2 ">{{producto.modelo}}</td>
                                    <td style="max-width: 130px;" class=" pt-4 ">{{producto.codigo}}</td>
                                    <td class=" pt-4 ">{{producto.precio | precio}}</td>
                                    <td class=" pt-4 ">{{producto.precioBruto | precio }}</td>
                                    <td class=" pt-4 ">{{producto.stock}}</td>
                                    <td class=" pt-4 ">{{producto.stockMinimo}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
                <div *ngIf="_loginService.logued" class="lead m-3"> <label for="">Total de Stock: <b>{{cantidadProductos  }} </b></label>
                    <br>
                    <label for="">Total precios por cantidad: <b>{{totalPrecios | precio }} Gs</b></label>
                    <br>
                    <label for="">Total Inversion: <b>{{totalCosto | precio }} Gs</b></label>
                    <br>
                    <label for="">Ganancia posible: <b>{{totalPrecios -totalCosto  | precio}} Gs</b></label></div>

            </div>
            <div class="select-proveedor flex-row" *ngIf="!productos">
                <div class="col  d-flex justify-content-md-center ">
                    <h4 class="display-4">Seleccione Proveedor</h4>
                </div>
            </div>
        </div>
    </div>

</div>

<div *ngIf="_reabastecerService.oculto == ''">
    <app-reabastecer></app-reabastecer>
</div>