<div class="fondo-negro  fadeIn" [ngClass]='_facturaModalService.oculto'>


    <div class="modal" style="display: block;  " tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Factura de {{_facturaModalService.fecha | fecha: 'fecha'}} - {{_facturaModalService.fecha | fecha: 'hora'}} </h5>
                    <button type="button" class="close" (click)="_facturaModalService.ocultarModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>


                </div>
                <div class="modal-body cuerpo " align="center">
                    <h3 *ngIf="_facturaModalService.cliente">Cliente: {{_facturaModalService.cliente.nombre}}</h3>

                    <div class=" mx-auto  mt-1 tableMatias">
                        <div class="row animated fadeIn">
                            <div class="col-12">
                                <div class="card">
                                    <div class="">
                                        <table class="table  table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Imagen</th>
                                                    <th>Marca</th>
                                                    <th>Tipo</th>

                                                    <th>Precio</th>

                                                    <th>Cantidad</th>
                                                    <th *ngIf="_facturaModalService.mostrarcomision">Comision</th>

                                                </tr>
                                            </thead>
                                            <tbody *ngFor="let producto of _facturaModalService.productos; let i =index;">
                                                <tr>
                                                    <td class="w70">
                                                        <img [src]="producto.img | imagen" class="img-50 img-circle pointer">
                                                    </td>
                                                    <td class="col-auto justify-content-center  p-auto pt-4 ">
                                                        {{producto.marca}}</td>
                                                    <td class=" pt-4 ">{{producto.modelo}}</td>
                                                    <td class=" pt-4 ">{{producto.precio | precio }}</td>


                                                    <!-- <td class=" pt-4 ">
                                                        <div style="color: red" *ngIf="producto.desc">
                                                            {{producto.descuento}}</div>
                                                        <div *ngIf="!producto.desc">Sin Desc</div>
                                                    </td> -->

                                                    <td class=" pt-4 "> {{producto.cantidad}}</td>
                                                    <td style="width:40px" *ngIf="_facturaModalService.mostrarcomision">
                                                        <input type="number" class="form-control" name="descuento-{{i}}" [(ngModel)]="producto.comision" id="" aria-describedby="helpId" placeholder="">

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- <button (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary">Anteriores</button>
                                    <button (click)="cambiarDesde(5)" type="button" class="btn btn-secondary">Siguientes</button> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="ml-3">
                    <h3>Total: {{_facturaModalService.monto | precio }} Gs</h3>
                </div>
                <div *ngIf="_facturaModalService.debiendo" class="ml-3">
                    <h3 style="color: red;">SIN PAGAR</h3>
                </div>
                <div class="modal-footer">

                    <button type="button" *ngIf="_facturaModalService.mostrarcomision" class="btn btn-primary" (click)="_facturaModalService.guardarFactura(_facturaModalService.factura)">Guardar cambios</button>
                    <button type="button" *ngIf="!_facturaModalService.prohibirEliminar" class="btn btn-danger" (click)="_facturaModalService.eliminarFactura(factura)">Eliminar Factura</button>
                    <button type="button" class="btn btn-secondary" (click)="_facturaModalService.ocultarModal()">Cerrar</button>
                    <!-- <button type="button" class="btn btn-primary">Alguna funcion</button> -->
                </div>
            </div>
        </div>
    </div>
</div>