<div class="row">
    <div class="m-3 carrito col">
        <h3 class="mx-3">Historial de Caja</h3>

        <div class="card-body">
            <div class="row">
                <h4>De:</h4>
                <input [(ngModel)]="diaDesde" style="width: 3rem;" class="m-1" type="number">
                <input [(ngModel)]="mesDesde" style="width: 3rem;" class="m-1" type="number">
                <input [(ngModel)]="yearDesde" style="width: 5rem;" class="m-1" type="number">
                <h4 class="ml-4">A: </h4>
                <input [(ngModel)]="diaHasta" style="width: 3rem;" class="m-1" type="number">
                <input [(ngModel)]="mesHasta" style="width: 3rem;" class="m-1" type="number">
                <input [(ngModel)]="yearHasta" style="width: 5rem;" class="m-1" type="number">
                <button type="button" (click)="filtrar()" class="btn btn-primary">Filtrar</button>
            </div>
        </div>
        <div class=" mx-auto  tableMatias">
            <div class="row an  imated fadeIn">
                <div class="col">
                    <div style="max-height: 550px; overflow: auto; display: block;" class="">
                        <div class="card">
                            <div class="cierrecaja ">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Apertura</th>
                                            <th>Cierre</th>
                                            <th>Ingreso <br> p/ventas</th>
                                            <th>costo <br> de ventas</th>
                                            <th>Resultado</th>
                                            <th>Ingresos <br> p/servicios</th>
                                            <th>Egresos</th>
                                            <th style="width:5%"> </th>
                                        </tr>
                                    </thead>
                                    <tbody class="pointer" *ngFor="let cierreCaja of cierreCajas">
                                        <tr (click)="onCierreCaja(cierreCaja)">
                                            <td class=" pt-4 ">{{cierreCaja.fechaInicio | fecha :'fecha'}} <br> {{cierreCaja.fechaInicio | fecha :'hora'}}</td>
                                            <td *ngIf="cierreCaja.fechaCierre" class=" pt-4 ">

                                                {{cierreCaja.fechaCierre | fecha :'fecha'}} <br> {{cierreCaja.fechaCierre | fecha :'hora'}}</td>

                                            <td *ngIf="!cierreCaja.fechaCierre" class=" pt-4 "> <b>sin cerrar</b> </td>
                                            <td>{{cierreCaja.montoVentas | currency: '':'':'2.0'}}</td>
                                            <td>{{cierreCaja.costoVentas | currency: '':'':'2.0'}}</td>
                                            <td> {{cierreCaja.montoVentas - cierreCaja.costoVentas | currency: '':'':'2.0'}} </td>
                                            <td>{{cierreCaja.montoIngresos | currency: '':'':'2.0'}}</td>
                                            <td>{{cierreCaja.montoEgresos | currency: '':'':'2.0'}}</td>
                                            <td class=" pt-4 ">
                                                <i (click)="eliminarCaja(cierreCaja)" style="color: red;" class="fa fa-trash" aria-hidden="true"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>


                        </div>
                    </div>
                    <!-- <h1>Suma total</h1>
                    <h5>Ingresos p/ventas: {{cajaIngreso | currency: '':'':'2.0'}}</h5>
                    <h5>Costo: {{cajaCosto | currency: '':'':'2.0'}}</h5>
                    <h5>Ingresos p/servicios: {{cajaServicios | currency: '':'':'2.0'}}</h5>
                    <h5>Egresos: {{cajaEgreso | currency: '':'':'2.0'}}</h5>
                    <h5>Ingreso - Costo: {{cajaIngreso - cajaCosto | currency: '':'':'2.0'}}</h5>
                    <h5>Ingreso + I. Servicios - Costo - Egreso: {{cajaIngreso + cajaServicios- cajaCosto - cajaEgreso | currency: '':'':'2.0'}}
                    </h5> -->
                </div>
            </div>
        </div>
    </div>
    <div class=" carrito col m-3  ">
        <div class=" mx-auto mt-5 tableMatias">
            <div class="row animated fadeIn">
                <div class="col">
                    <ul class="nav nav-tabs">
                        <li style="cursor: pointer;" class=" nav-item">
                            <a (click)="switchTab('facturas')" id="facturas_tab" href="javascript:undefined" class="nav-link active">Facturas</a>
                        </li>
                        <li style="cursor: pointer;" (click)="switchTab('egresos')" class="nav-item">
                            <a id="egresos_tab" href="javascript:undefined" class="nav-link">Ventas</a>
                        </li>
                        <li style="cursor: pointer;" (click)="switchTab('ingresos')" class="nav-item">
                            <a id="ingresos_tab" href="javascript:undefined" class="nav-link">Ingresos</a>
                        </li>
                        <li style="cursor: pointer;" (click)="switchTab('cobros')" class="nav-item">
                            <a id="cobros_tab" href="javascript:undefined" class="nav-link">Cobros</a>
                        </li>
                    </ul>

                    <div *ngIf="tab == 'factura'" class="carrito card">
                        <div class="itemsArqueo">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Monto total</th>
                                        <th>Monto en P. costo</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                    </tr>
                                </thead>
                                <tbody class="pointer" *ngFor="let factura of facturas">
                                    <tr (click)="verFacturaModal(factura)">
                                        <td class=" pt-4 ">{{factura.monto | currency: '':'':'2.0'}} Gs </td>
                                        <td class=" pt-4 ">{{factura.costo | currency: '':'':'2.0'}} Gs </td>
                                        <td class=" pt-4 ">{{factura.fecha | fecha: 'fecha'}}</td>
                                        <td class=" pt-4 "> {{factura.fecha | fecha :'hora'}}</td>
                                        <!-- <td>
                                            <i (click)="eliminarFactura(factura)" style="color: red;" class="fa fa-trash" aria-hidden="true"></i>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <button (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary">Anteriores</button>
                        <button (click)="cambiarDesde(5)" type="button" class="btn btn-secondary">Siguientes</button> -->
                        </div>
                    </div>

                    <div *ngIf="tab == 'egreso'" class="carrito card">
                        <div class="itemsArqueo">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Motivo</th>
                                        <th>Monto</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <!-- <th style="width: 15%"></th> -->
                                    </tr>
                                </thead>
                                <tbody class="pointer" *ngFor="let egreso of egresos">
                                    <tr>
                                        <td class=" pt-4 ">{{egreso.motivo}}</td>
                                        <td class=" pt-4 ">{{egreso.monto}} Gs </td>
                                        <td class=" pt-4 ">{{egreso.fecha | fecha: 'fecha'}}</td>
                                        <td class=" pt-4 ">{{egreso.fecha | fecha :'hora'}}</td>
                                        <!-- <td>
                                            <i (click)="eliminarEgreso(egreso)" style="color: red;" class="fa fa-trash" aria-hidden="true"></i>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <button (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary">Anteriores</button>
                        <button (click)="cambiarDesde(5)" type="button" class="btn btn-secondary">Siguientes</button> -->
                        </div>
                    </div>
                    <div *ngIf="tab == 'ingreso'" class="carrito card">
                        <div class="itemsArqueo">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Monto</th>
                                        <th>Comision</th>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <!-- <th style="width: 15%"></th> -->

                                    </tr>
                                </thead>
                                <tbody class="pointer" *ngFor="let ingreso of ingresos">
                                    <tr>
                                        <td class=" pt-4 ">{{ingreso.nombre}}</td>
                                        <td class=" pt-4 ">{{ingreso.monto}} Gs </td>
                                        <td class=" pt-4 ">{{ingreso.comision}} Gs </td>
                                        <td class=" pt-4 ">{{ingreso.fecha | fecha: 'fecha'}}</td>
                                        <td class=" pt-4 ">{{ingreso.fecha | fecha :'hora'}}</td>
                                        <!-- <td>
                                            <i (click)="eliminarEgreso(egreso)" style="color: red;" class="fa fa-trash" aria-hidden="true"></i>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <button (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary">Anteriores</button>
                        <button (click)="cambiarDesde(5)" type="button" class="btn btn-secondary">Siguientes</button> -->
                        </div>
                    </div>
                    <div *ngIf="tab == 'cobro'" class="carrito card">
                        <div class="itemsArqueo">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Cuota Nro</th>
                                        <th>Cliente</th>
                                        <th>Monto</th>                                        
                                        <th>vencimiento</th> 
                                        <th  >pagado</th> 
                                        <!-- <th style="width: 15%"></th> -->

                                    </tr>
                                </thead>
                                <tbody class="pointer" *ngFor="let cobro of cobros">
                                    <tr>
                                        <td class=" pt-4 ">{{cobro.nro_cuota}}</td>
                                        <td class=" pt-4 ">{{cobro.cliente.nombre}}</td>
                                        <td class=" pt-4 ">{{cobro.monto_cuota | currency: '':'':'2.0'}} Gs </td>
                                         <td class=" pt-4 ">{{cobro.fecha_vencimiento | date}}</td>
                                         <td class=" pt-4 ">{{cobro.fecha_pagado | date: ' d, MMM y - h:mm a'}}</td>
                                       
                                        <!-- <td>
                                            <i (click)="eliminarEgreso(egreso)" style="color: red;" class="fa fa-trash" aria-hidden="true"></i>
                                        </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <button (click)="cambiarDesde(-5)" type="button" class="btn btn-secondary">Anteriores</button>
                        <button (click)="cambiarDesde(5)" type="button" class="btn btn-secondary">Siguientes</button> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="m-4 row">
            <div class="col">
                <label for="">Monto Fijo: <b>{{montoFijo | currency: '':'':'2.0' }} Gs</b></label>

                <br>
                <label for="">Monto en Egresos: <b class="text-danger">{{montoEgresos | currency: '':'':'2.0' }} Gs</b></label>
                <br>
                <label for="">Monto en Ingresos: <b>{{montoIngresos | currency: '':'':'2.0' }} Gs</b> </label>
                <br>
                <label for="">Monto en Ventas: <b>{{montoVentas | currency: '':'':'2.0'}} Gs</b> </label>
                <br>
                <label for="">Monto en Cobros: <b>{{montoCobros | currency: '':'':'2.0'}} Gs</b> </label>

                <hr>

                <p class="h1">Total: <b>{{(montoFijo + montoIngresos+ montoVentas +montoCobros) -montoEgresos | currency: '':'':'2.0' }}
                        Gs</b></p>
            </div>
            <div class="col">
                <p class="lead">Ganancia posible</p>
                <label for="">Comisión por Ingresos: <b>{{comision | currency: '':'':'2.0' }} Gs</b> </label>
                <br>
                <label for="">Ganancias por Ventas: <b>{{montoVentas - costo | currency: '':'':'2.0'}} Gs</b> </label>
                <hr>
                <p class="h1">Total: <b>{{(montoVentas - costo) + comision | currency: '':'':'2.0'}} Gs</b></p>
            </div>

        </div>

    </div>
</div>