.carrito {
    padding: 0 !important;
    margin: 0 !important;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}

.itemsArqueo {
    overflow: auto;
    height: 400px;
}

.cierrecaja {
    overflow: auto;
    height: 550px;
}