<div class="row">
    <div class="col-4">

        <div class="col">
            <div class="carsd">
                <div class="card-body mx-auto">

                    <form (ngSubmit)="buscarCliente(input.value)" class=" row">
                        <div class="col  ">
                            <input name="buscador" #input type="text" class="form-control" placeholder="Buscar cliente">
                        </div>
                        <div class="col  ">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>nombre
                    </th>
                    <th>ci</th>
                    <th>telefono
                        <hr class="m-0"> direccion
                    </th>

                    <th style="width: 15%">acciones</th>
                </tr>
            </thead>
            <tbody class="table" *ngFor="let item of clientes">
                <tr class="list-item list-group-item-action pointer" href="javascript:void" (click)="seleccionarCliente(item)">
                    <td>{{item.nombre}}</td>
                    <td>{{item.ci}}</td>
                    <td>{{item.tel}}
                        <hr class="m-0"> {{item.direccion}}
                    </td>

                    <td>
                        <i (click)="eliminarCliente(item)" style="color: red;" class="fa fa-trash" aria-hidden="true"></i>
                        <i (click)="editarCliente(item)" class="ml-2 fa fa-pen" aria-hidden="true"></i>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Pagado</th>
                    <th style="width: 15%">acciones</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of facturas">
                <tr class="list-item list-group-item-action pointer" href="javascript:void" (click)="seleccionarFactura(item)">
                    <td>{{item.fecha | fecha: 'fecha'}} | {{item.fecha | fecha: 'hora'}} </td>
                    <td>{{item.monto}} Gs</td>
                    <td *ngIf="!item.debiendo">pagado</td>
                    <td class="rojo" *ngIf="item.debiendo">sin pagar</td>
                    <td>
                        <i (click)="eliminarFactura(item)" style="color: red;" class="fa fa-trash" aria-hidden="true"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <table *ngIf="factura" class="table  table-hover">
            <thead>
                <tr>
                    <!-- <th>Imagen</th> -->
                    <th>Marca</th>
                    <th>Tipo</th>

                    <th>Precio</th>
                    <!-- <th>Descuento</th> -->

                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody *ngFor="let producto of factura.productos">
                <tr>
                    <!-- <td class="w70">
                        <img [src]="producto.img | imagen" class="img-50 img-circle pointer">
                    </td> -->
                    <td class="col-auto justify-content-center  p-auto pt-4 ">{{producto.marca}}</td>
                    <td style="width: 25%" class=" pt-4 ">{{producto.modelo}}</td>
                    <td class=" pt-4 ">{{producto.precio}}</td>
                    <!-- <td class=" pt-4 ">
                        <div style="color: red" *ngIf="producto.desc">{{producto.descuento}}</div>
                        <div *ngIf="!producto.desc">Sin Desc</div>
                    </td> -->

                    <td class=" pt-4 "> {{producto.cantidad}}</td>

                </tr>
            </tbody>
            <div>
                <button *ngIf="factura.debiendo" (click)="pagar()" type="button" class="btn btn-primary">Pagar</button>
            </div>
        </table>
    </div>
</div>

<div *ngIf="editCliente">
    <app-edit-client [clienteToEdit]="cliente" (oncomplete)="editCliente = false"></app-edit-client>


</div>