<div style="overflow-x: auto; display: block;" class="row">
    <div style="display: block;" class="col">
        <div class="carsd">
            <div class="card-body mx-auto">

                <form (ngSubmit)="buscarCliente(input.value)" class=" row">
                    <div class="col  ">
                        <input name="buscador" #input type="text" class="form-control" placeholder="Buscar cliente">
                    </div>
                    <div class="col  ">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div style="display: flex;">

        <div style="width: 100%;" class="card mx-2">
            <div class="card-body">
                <div style="overflow-x: auto;">


                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th style="width: 50px;">#
                                </th>
                                <th style="width: 200px;">nombre
                                </th>
                                <th style="width: 100px;">ci</th>
                                <th style="width: 170px;">Ult. Compra</th>
                                <th style="width: 120px;">telefono

                                </th>
                                <th style="width: 300px;">
                                    direccion
                                </th>
                                <th style="width: 300px;">
                                    producto
                                </th>

                                <th style="width: 80px">acciones</th>
                            </tr>
                        </thead>
                        <tbody class="table" *ngFor="let item of clientes | paginate: { itemsPerPage: 20,totalItems:count, currentPage: page } ; let i = index; ">
                            <tr class="list-item list-group-item-action pointer" href="javascript:void" (click)="seleccionarCliente(item)">
                                <td>{{page*20 + (i+1) - 20}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.ci}}</td>
                                <td>
                                    <div *ngIf="item.ultimaFactura">
                                        {{item.ultimaFactura.fecha | date}}
                                    </div>
                                </td>
                                <td>{{item.tel}}

                                </td>
                                <td>
                                    {{item.direccion}}
                                </td>
                                <td>
                                    <div *ngIf="item.producto">
                                        {{item.producto.marca}} - {{item.producto.modelo}}
                                    </div>
                                </td>

                                <td>
                                    <i (click)="eliminarCliente(item)" style="color: red;" class="fa fa-trash" aria-hidden="true"></i>
                                    <i (click)="editarCliente(item)" class="ml-2 fa fa-pen" aria-hidden="true"></i>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <pagination-controls *ngIf="count>20" (pageChange)="pageChanged($event); page = $event"></pagination-controls>

                </div>
            </div>
        </div>
        <div *ngIf="!factura" style="width: 100%;">
            <div class="card mx-2">
                <div class=" card-body">
                    <h4 *ngIf="cliente" class="card-title">Cliente: {{cliente.nombre}}</h4>

                    <table class="table table-sm tablse-responsive ">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Cobro</th>
                                <th>Monto</th>
                                <th>Pagado</th>
                                <th style="width: 15%">acciones</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of facturas">
                            <tr class="list-item list-group-item-action pointer" href="javascript:void" (click)="seleccionarFactura(item)">
                                <td>{{item.fecha | fecha: 'fecha'}} | {{item.fecha | fecha: 'hora'}} </td>
                                <td *ngIf="item.fechaPago">{{item.fechaPago | date}} </td>
                                <td *ngIf="!item.fechaPago">Sin fecha </td>
                                <td>{{item.monto}} Gs</td>
                                <td *ngIf="!item.debiendo">pagado</td>
                                <td class="rojo" *ngIf="item.debiendo">sin pagar</td>
                                <td>
                                    <i (click)="eliminarFactura(item)" style="color: red;" class="fa fa-trash" aria-hidden="true"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <div *ngIf="factura" style="width: 100%;">
            <div class="card mx-2">
                <div class="card-body">
                    <div class="inline-flex">
                        <button (click)="factura = null;" type="button" class="btn mr-2 btn-danger">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        </button>
                        <h3>{{factura.fecha | date}} - {{factura.fecha | date:'shortTime'}} </h3>
                    </div>

                    <table class="table table-sm table-ressponsive table-hover">

                        <thead>
                            <tr>
                                <!-- <th>Imagen</th> -->
                                <th>Marca</th>
                                <th>Tipo</th>

                                <th>Precio</th>
                                <!-- <th>Descuento</th> -->

                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let producto of factura.productos">
                            <tr>
                                <!-- <td class="w70">
                                    <img [src]="producto.img | imagen" class="img-50 img-circle pointer">
                                </td> -->
                                <td class="col-auto justify-content-center  p-auto pt-4 ">{{producto.marca}}</td>
                                <td style="width: 25%" class=" pt-4 ">{{producto.modelo}}</td>
                                <td class=" pt-4 ">{{producto.precio}}</td>
                                <!-- <td class=" pt-4 ">
                                    <div style="color: red" *ngIf="producto.desc">{{producto.descuento}}</div>
                                    <div *ngIf="!producto.desc">Sin Desc</div>
                                </td> -->

                                <td class=" pt-4 "> {{producto.cantidad}}</td>

                            </tr>
                        </tbody>
                        <div>
                            <button *ngIf="factura.debiendo" (click)="pagar()" type="button" class="btn btn-primary">Pagar</button>
                        </div>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>

<div *ngIf="editCliente">
    <app-edit-client [clienteToEdit]="cliente" (oncomplete)="editCliente = false"></app-edit-client>


</div>