<div class="row">
    <div class="col-3">
        <table class="table">
            <thead>
                <tr>
                    <th>nombre</th>
                    <th>ci</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of clientes">
                <tr class="pointer" (click)="seleccionarCliente(item)">
                    <td>{{item.nombre}}</td>
                    <td>{{item.ci}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Pagado</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of facturas">
                <tr class="pointer" (click)="seleccionarFactura(item)">
                    <td>{{item.fecha | fecha: 'fecha'}} | {{item.fecha | fecha: 'hora'}} </td>
                    <td>{{item.monto}} Gs</td>
                    <td *ngIf="!item.debiendo">pagado</td>
                    <td class="rojo" *ngIf="item.debiendo">sin pagar</td>

                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-5">
        <table *ngIf="factura" class="table  table-hover">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Marca</th>
                    <th>Formula</th>

                    <th>Precio</th>
                    <!-- <th>Descuento</th> -->

                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody *ngFor="let producto of factura.productos">
                <tr>
                    <td class="w70">
                        <img [src]="producto.img | imagen" class="img-50 img-circle pointer">
                    </td>
                    <td class="col-auto justify-content-center  p-auto pt-4 ">{{producto.marca}}</td>
                    <td style="width: 25%" class=" pt-4 ">{{producto.modelo}}</td>
                    <td class=" pt-4 ">{{producto.precio}}</td>
                    <!-- <td class=" pt-4 ">
                        <div style="color: red" *ngIf="producto.desc">{{producto.descuento}}</div>
                        <div *ngIf="!producto.desc">Sin Desc</div>
                    </td> -->

                    <td class=" pt-4 "> {{producto.cantidad}}</td>
                </tr>
            </tbody>
            <div>
                <button *ngIf="factura.debiendo" (click)="pagar()" type="button" class="btn btn-primary">Pagar</button>
            </div>
        </table>
    </div>
</div>